.elementor-78 .elementor-element.elementor-element-22122b5 > .elementor-container{min-height:400px;}.elementor-78 .elementor-element.elementor-element-22122b5:not(.elementor-motion-effects-element-type-background), .elementor-78 .elementor-element.elementor-element-22122b5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #8DBF3F 0%, #8DBF3F 100%);}.elementor-78 .elementor-element.elementor-element-22122b5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:0px;}.elementor-78 .elementor-element.elementor-element-22122b5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-78 .elementor-element.elementor-element-28a9bb5.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-78 .elementor-element.elementor-element-28a9bb5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-78 .elementor-element.elementor-element-28a9bb5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-78 .elementor-element.elementor-element-d5abda8{color:#28612B;font-family:"Raleway", Sans-serif;font-size:14px;font-weight:600;}.elementor-78 .elementor-element.elementor-element-d5abda8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-4d10b50{color:#28612B;font-family:"Raleway", Sans-serif;font-size:14px;font-weight:600;}.elementor-78 .elementor-element.elementor-element-337779c{color:#28612B;font-family:"Raleway", Sans-serif;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-78 .elementor-element.elementor-element-337779c > .elementor-widget-container{margin:30px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-ab4eaa5{color:#28612B;font-family:"Raleway", Sans-serif;font-size:14px;font-weight:700;}.elementor-78 .elementor-element.elementor-element-ab4eaa5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-88ee308{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-88ee308 > .elementor-widget-container{margin:10px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-8478187{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-8478187 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-91ceb2b{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-91ceb2b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-dd1c488{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-dd1c488 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-1f36cff{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-1f36cff > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-7a2ab11{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-7a2ab11 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-4cf5e7d{color:#28612B;font-family:"Raleway", Sans-serif;font-size:13px;font-weight:500;}.elementor-78 .elementor-element.elementor-element-4cf5e7d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-78 .elementor-element.elementor-element-0e6ca49{color:#28612B;font-family:"Raleway", Sans-serif;font-size:14px;font-weight:700;}.elementor-78 .elementor-element.elementor-element-0e6ca49 > .elementor-widget-container{margin:20px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-78 .elementor-element.elementor-element-a32c44c{width:34.519%;}.elementor-78 .elementor-element.elementor-element-28a9bb5{width:65.481%;}}@media(max-width:1024px){.elementor-78 .elementor-element.elementor-element-d5abda8{text-align:center;}}@media(max-width:767px){.elementor-78 .elementor-element.elementor-element-d5abda8{text-align:center;line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-4d10b50{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-337779c{text-align:center;line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-ab4eaa5{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-88ee308{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-8478187{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-91ceb2b{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-dd1c488{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-1f36cff{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-7a2ab11{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-4cf5e7d{line-height:1.9em;}.elementor-78 .elementor-element.elementor-element-0e6ca49{line-height:1.9em;}}/* Start custom CSS for text-editor, class: .elementor-element-4d10b50 */.elementor-78 .elementor-element.elementor-element-4d10b50 ul {
    display: flex;
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {
    .elementor-78 .elementor-element.elementor-element-4d10b50 ul {
        flex-direction: column;
    }
    
    .elementor-78 .elementor-element.elementor-element-4d10b50 ul li {
        border: 0!important;
    }
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li {
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Raleway';
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:first-child {
    padding-left: 0;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:not(:last-child) {
    border-right: 1px solid #28612b;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li i {
    margin-right: 5px;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:first-child i {
    width: 20px;
    height: 20px;
    border: 1px solid #28612b;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 8px;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:nth-child(2) i {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:last-child i:first-child {
    width: 20px;
    height: 20px;
    background-color:  #28612b;
    color:#8dbf3f;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}

.elementor-78 .elementor-element.elementor-element-4d10b50 ul li:last-child i:last-child {
    font-size: 20px;
}/* End custom CSS */